:root {
    --azulBBVA: #072146;
    --colorNav: #004481;
    --color-a-nav: #99b4cc;
    --color-white: #fff;
    --fullwidth: 100%;
    --color-backG: #202124;
    --color-letter: #9e9e9e;
    --color-active: #7ff0ff;
    --color-link: #1c7d8a;
    --color-back2: #333333;
}